<ion-header no-border >
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="puerta"></ion-back-button>
    </ion-buttons>
    <ion-title>pregunta {{idMostrar}} </ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="guardarObjetoPregunta()">
          <ion-icon slot="icon-only" name="save"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card >
      <ion-card-header >
          <ion-card-title>{{preguntaPuerta.pregunta}}</ion-card-title>
        </ion-card-header>
        <ion-segment (ionChange)="elegirRespuesta($event)">
            <ion-segment-button value="cumple">
              <ion-icon name="done-all" color="success"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="no aplica" >
              <ion-icon name="information" color="warning" ></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="no cumple">
              <ion-icon name="close" color="danger"></ion-icon>
            </ion-segment-button>
        </ion-segment>
  </ion-card>
  <ion-card>
      <ion-card-header>
          <ion-card-title>Fotografia</ion-card-title>
        </ion-card-header>
      <ion-img [src]="foto" 
               *ngIf="preguntaPuerta.rutaImagen"
               [(ngModel)]="preguntaPuerta.rutaImagen"
               ></ion-img>
      <ion-button expand="full" color="primary"
                  (click)="tomarFoto()"> 
        <ion-icon name="camera" slot="icon-only"></ion-icon>
      </ion-button>
  </ion-card>
  <ion-card>
      <ion-card-header>
          <ion-card-title>Observaciones</ion-card-title>
        </ion-card-header>
        <ion-textarea autoGrow="true"
                      placeholder="Agrega tus observaciones ..."
                      rows="6"
                      value={{preguntaPuerta.obserevaciones}}
                      [(ngModel)]="preguntaPuerta.obserevaciones"
                      spellcheck="true">

        </ion-textarea>
  </ion-card>
</ion-content>
